main {
    width: 100%;
    overflow-x: hidden;

    #post {
        background-color: gray;
        padding-bottom: 1vh;

        .post_img {
            width: 100vw;

            img {
                width: 100%;
            }
        }

        .detail {
            background-color: white;
            margin-top: 1vh;
            padding: .5vh;
        }
    }

    #selectPoint {
        #selectArea {
            display: flex;
            flex-wrap: wrap;
            .addSelect {
                width: 50vw;
                overflow: hidden;
                input {
                }
                label {
                    display: block;
                    height: 10vh;
                    width: 50vw;
                    text-align: center;
                    line-height: 10vh;
                    background-color: gray;
                }
                input:checked+label {
                    background: #d81b60;
                    font-weight: 500;
                    color: #fff;
                }

                
            }

        }
    }
}