main {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .post {
        width: 100vw;
        position: relative;

        .user {
            position: absolute;
            display: flex;
            z-index: 10;
            padding: .5vh;

            .user_icon {
                height: 4vh;
                width: 4vh;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .user_id {
                margin-left: .5vh;
                line-height: 4vh;
                font-weight: bold;
                color: white;
                text-shadow: 1px 1px 1px black, -0.5px -0.5px 1px black, 0 0 4px white;
            }
        }

        .imageArea {
            width: 100vw;
            overflow: hidden;
            background-color: aquamarine;

            img {
                width: 100vw;
            }
        }

        .detail {
            height: calc(80vh - 133.3vw);
            display: flex;
            background-color: gray;
            padding: 1vh;

            .detailRight {
                width: 60vw;
                margin-right: 1vh;

                .detailText {
                    height: 59%;
                    background-color: white;
                    padding: 1vh;
                    font-size: .7em;
                    margin-bottom: 1%;
                }

                .detailRight-under {
                    height: 39%;
                    display: flex;

                    .d1,
                    .d2 {
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        background-color: white;
                        margin-right: 1%;
                    }

                    .d3 {
                        height: 100%;
                        width: 100%;
                        background-color: white;
                    }
                }
            }

            .detailLeft {
                width: 40vw;
                background-color: white;
                padding: 1vh;
                overflow: hidden;

                .titleComment {
                    margin-bottom: 1vh;
                }

                .comment {
                    overflow-wrap: normal;
                    font-size: .7em;
                }
            }
        }
    }
}