@use "_variables.scss" as *;

main {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $bgSubColor;

    .post {
        width: 100vw;
        position: relative;

        .user {
            position: absolute;
            display: flex;
            z-index: 10;
            padding: .5vh;

            form {
                display: flex;

                .user_icon {
                    height: 4vh;
                    width: 4vh;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .user_id {
                    margin-left: .5vh;
                    line-height: 4vh;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 1px 1px black, -0.5px -0.5px 1px black, 0 0 4px white;
                }

                button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;

                    /* buttonのスタイル削除 */
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 0;
                    appearance: none;
                }
            }
        }

        .imageArea {
            width: 100vw;
            overflow: hidden;
            background-color: $bgSubColor;

            input,
            img {
                width: 100vw;
            }
        }

        .detailUp {
            display: flex;
            background-color: $labelColor;
            color: white;
            padding: .5vh 0;
            height: 3vh;

            .detailUpLeft {
                width: 60vw;
                padding-left: 2vw;

            }

            .detailUpRight {
                width: 40vw;

                p {
                    position: relative;

                    span {
                        position: absolute;
                        right: 2vw;
                    }
                }
            }
        }

        .detail {
            height: calc(80vh - 133.3vw);
            display: flex;
            background-color: $labelColor;
            padding: 1vh;

            .detailRight {
                width: 60vw;
                margin-right: 1vh;

                .detailText {
                    height: 59%;
                    background-color: white;
                    padding: 1vh;
                    font-size: 1em;
                    margin-bottom: 1%;
                }

                .detailRight-under {
                    height: 39%;
                    display: flex;

                    .d1,
                    .d2 {
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        background-color: white;
                        margin-right: 1%;

                        a {
                            display: block;
                            text-align: center;
                            margin-top: 1vh;

                            img {
                                width: 60%;
                            }
                        }

                    }

                    .d3 {
                        height: 100%;
                        width: 100%;
                        background-color: white;
                        overflow: hidden;
                        position: relative;

                        form {
                            input {
                                margin-top: -1.5vh;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .detailLeft {
                width: 40vw;
                background-color: white;
                padding: 1vh;
                overflow: hidden;

                .titleComment {
                    margin-bottom: 1vh;
                }

                .comment {
                    overflow-wrap: normal;
                    font-size: .7em;
                }
            }
        }
    }
}