main {
    height: 80vh;
    overflow: hidden;
    position: relative;
    text-align: center;

    .wrapper {
        position: relative;
        margin: 0 auto;
        align-items: center;

        h2 {
            margin-top: 10vh;
            font-size: 3em;
        }

        .Area {
            margin-top: 5vh;

            .textArea {
                margin-top: 5vh;

                label {
                    display: block;
                    font-size: 2em;
                    margin-bottom: 2vh;
                }

                .textbox {
                    border: solid 1px black;
                    width: 80vw;
                    height: 4vh;
                    font-size: 1.5em;
                    color: black;
                    font-family: none;
                }

            }

            .box {
                margin-top: 5vh;
                input{
                    font-size: 2em;
                    background-color: grey;
                    padding: 1vh 2vh;
                }
            }
            .down{
                margin-top: 1vh;
            }
        }
    }






}