main {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    #user {
        height: 20vh;
        padding-top: 5vh;
        width: 100vw;
        background-color: aqua;
        display: flex;
        align-items: center;

        #icon {
            width: 30%;

            p {
                height: 10vh;
                width: 10vh;
                border-radius: 50%;
                margin-bottom: 7vh;
                margin-left: auto;
                margin-right: auto;
                background-color: black;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }

        #data {
            width: 70%;
            margin-bottom: -5vh;

            h2 {
                font-size: 1.5em;
                line-height: 4vh;
                margin-top: -10vh;
            }
            h3 {
                font-size: 1.2em;
                line-height: 2vh;
                margin-bottom: 2vh;
            }

            #detail {
                display: flex;
                li{
                    width: 33%;
                    margin: 0 .5vh;
                    font-size: 1em;
                    text-align: center;
                }
            }
        }
    }
    #tag_Area{
        height: 5vh;
        width: 100vw;
        background-color: aquamarine;
    }
    #postArea{

        padding-top: 5vh;
        height: auto;
        width: 100%;
        background-color:gray;
        display: flex;
        flex-wrap: wrap;
        .post{
            height: 32vw;
            width: 32vw;
            background-color: red;
            margin: .66vw;
        }
    }
}