@use "_variables.scss" as *;

main {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $bgSubColor;

    #user {
        height: 20vh;
        width: 100vw;
        background-color: white;

        #user-top {
            height: 10vh;
            display: flex;
            overflow: hidden;
            background-color: $bgSubColor;

            #icon {
                width: 8vh;
                height: 8vh;
                margin: 2vh 2vh 0 2vh;

                p {
                    height: 8vh;
                    width: 8vh;
                    border-radius: 50%;
                    margin-bottom: 7vh;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: black;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }

            #data {
                width: 80%;
                height: 100%;
                display: flex;
                margin-top: 3vh;

                div {
                    width: 55%;

                    h2 {
                        font-size: 1.5em;
                        line-height: 4vh;
                    }

                    h3 {
                        font-size: 1.2em;
                        line-height: 2vh;
                    }
                }

                p {
                    height: 6vh;
                    margin-top: .5vh;
                    text-align: center;

                    span {
                        display: block;
                        font-size: 1.5em;
                    }
                }
            }

        }

        #user-bottom {
            height: 10vh;
            background-color: $bgSubColor;

            #detail {
                height: 7vh;
                background-color: $bgSubColor;
                padding: 1vh;
            }

            #followArea {
                display: flex;

                li {
                    width: 33%;
                    margin: 0 .5vh;
                    font-size: 1em;
                    text-align: center;
                }
            }
        }
    }


    .tag_Area {
        height: 7vh;
        width: 100vw;
        padding: 1vh;
        background-color: $labelColor;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

        .tag {
            display: inline-block;
            height: 5vh;
            width: auto;
            line-height: 5vh;
            background-color: rgb(213, 213, 213);
            margin-left: 5vw;
            padding: 0 2vh;
            border-radius: 30px;
            text-align: center;
        }

        .tag.is-active {
            background-color: $bgColor;
            color: #fff;
            text-shadow: 0 0 2px black;
        }
    }

    #postArea {

        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;


        .post {
            height: 32vw;
            width: 32vw;
            background-color: white;
            margin: .66vw;
            overflow: hidden;
            position: relative;
            border: 1px solid gray;
            box-shadow: 1px 1px 3px black;

            img {
                width: 100%;
                margin: auto 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }
}