@use "_variables.scss" as *;

main {
    height: 80vh;
    overflow-y: scroll;
    position: relative;
    background-color: white;

    h1 {
        font-size: 10vw;
        text-align: center;
        padding-top: 1vh;
    }

    .post {
        width: 100vw;
        // margin-bottom: 1vh;
        padding-top: 1vh;
        position: relative;

        .img_label {
            display: flex;
            width: 90vw;
            color: #ffffff;
            background-color: #384878;
            cursor: pointer;
            margin: 0 auto;
            font-size: 2rem;

            .file {
                display: none;
            }
        }

        .photo_Area {
            height: auto;
            width: 90vw;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            z-index: 1;
            #iconPreview{
                width: 80vw;
                position: absolute;
                z-index: -1;
                margin-left: 5vw;
            }
            #preview {
                width: 90vw;
                height: auto;
                z-index: 10;
            }
        }

        .tag_Area {
            height: 7vh;
            width: 90vw;
            margin: 2vh auto;
            padding: 1vh;
            position: relative;
            background-color: purple;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;

            .tag_name {

                label {
                    display: inline-block;
                    height: 5vh;
                    width: auto;
                    line-height: 5vh;
                    background-color: aliceblue;
                    margin-left: 5vw;
                    padding: 0 2vh;
                    border-radius: 30px;
                    text-align: center;
                    color: black;
                    font-size: 1rem;
                }

                input:checked+label {
                    background: $bgColor;
                    font-weight: 500;
                    color: #fff;
                    text-shadow: 0 0 2px black;
                    box-shadow: inset 0 0 2vh white;
                }

            }

        }

        .name_Area {
            width: 90vw;
            background-color: blanchedalmond;
            margin: 0 auto;
            position: relative;

            .name_title {
                width: 90vw;
                height: 3vh;
                font-size: 1.2rem;
            }

            .name {
                width: 90vw;
                height: 4vh;
                font-size: 3vh;
                background-color: aqua;
                margin: 0;
                padding: 0;
                border: 1px solid black;
            }
        }

        .detail_Area {
            height: 10vh;
            width: 90vw;
            background-color: blanchedalmond;
            margin: 0 auto;
            position: relative;

            .detail_title {
                width: 90vw;
                height: 3vh;
                font-size: 1.2rem;
            }

            .detail {
                width: 90vw;
                height: 9vh;
                background-color: aqua;
                margin: 0;
                padding: 0;
            }
        }

        .post_Area {
            height: 6vh;
            width: 90vw;
            background-color: pink;
            margin: 2.5vh auto;
            margin-top: 4vh;
            position: relative;
            border-radius: 30px;

            .post_value {
                height: 6vh;
                width: 90vw;
                text-align: center;
                border-radius: 30px;
            }
        }
    }
}