main {
    height: 80vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    align-items: center;

    h2{
        margin-top: 10vh;
        font-size: 3em;
    }
    h3{
        margin-top: 5vh;
        font-size: 1.5em;
    }
    .itemName{
        margin-top: 2vh;
        font-size: 1.2em;
    }
    .item{
        font-size: 2em;
    }
    .btnArea{
        display: flex;
        margin-top: 10vh;
        form{
            width: 50vw;
            input{
                width: 50%;
                padding: 1vh 2vh;
                background-color: gray;
            }
        }
    }
}