main {
    height: 80vh;
    overflow: hidden;
    position: relative;
    text-align: center;

    h2 {
        margin-top: 10vh;
        font-size: 3em;
    }

    h3 {
        margin-top: 10vh;
        font-size: 1.5em;
    }
    p{
        margin-top: 1vh;
        font-size: 1em;
    }

}