$bgColor: #ffcc77;
$bgSubColor: #f1dfbf;
$labelColor: #DC8F45;


$inputColor: blanchedalmond;
$titleColor: white;


// $bgColor: #A4BFB0;
// $bgSubColor: #F2F2F2;
// $labelColor: #A4BFB0;


// $bgColor: #1D1843;
// $bgSubColor: #fff;
// $labelColor: #1D1843;
