{% extends 'base.html' %}

{% block title %}catTagAdd{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/postStyle.css">
{% endblock %}
{% block main %}
<main>
    <h1>自分のねこ</h1>
    <ul>
        {% for tag in tag_tbl %}
        <li class="tag">{{ tag }}</li>
        {% endfor %}
    </ul>
    <h2 style="margin-top: 10vh; margin-bottom: 5vh;">ねこ追加</h2>
    <form action="/catTagAddProcess" method="post" id="selectForm">
        <div class="post">
            <div class="name_Area">
                <p class="name_title">ねこの名前</p>
                <input class="name" type="text" name="name" maxlength="60" value="{{name}}">
            </div>
            <div class="post_Area" style="margin-top: 5vh;">
                <input type="submit" value="追加" class="post_value">
            </div>
        </div>
    </form>
</main>
{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/menu.js"></script>
<script src="/static/js/post.js"></script>
{% endblock %}