{% extends 'base.html' %}

{% block title %}home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/homeStyle.css">
{% endblock %}
{% block main %}

<main>
    {% for rec in result %}
    <div class="post">
        <div class="imageArea">
            <img src="/static/images/post/{{rec['image']}}" alt="">
        </div>
        <div class="detail">
            <div class="detailRight">
                <p class="detailText">{{ rec["detail"] }}</p>
                <div class="detailRight-under">
                    <div class="d1"></div>
                    <div class="d2"></div>
                    <div class="d3"></div>
                </div>
            </div>
            <div class="detailLeft">
                <p class="titleComment">コメント</p>
                <p class="comment">{{ rec["comment"] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/menu.js"></script>
{% endblock %}