{% extends 'base.html' %}

{% block title %}post{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/homeStyle.css">
{% endblock %}
{% block main %}

<main>
    {% for rec in result %}

    <div class="post">
        <div class="imageArea">
            <a href="#" class="user">
                <form action="/post_user_detail/{{rec['id']}}" method="post">
                    {% for pu in post_user %}
                    <p class="user_icon"><img src="/static/images/icon/{{pu['profile_image']}}" alt=""></p>
                    <p class="user_id">{{pu['id']}}</p>
                    {% endfor %}
                    <button type="submit"></button>
                </form>
            </a>
            <form action="/post_detail/{{rec['post_id']}}" method="post">
                <input type="image" value="投稿" src="/static/images/post/{{rec['image']}}">
            </form>
        </div>
        <div class="detailUp">
            <div class="detailUpLeft">
                <p>{{rec["tag_name"]}}</p>
            </div>
            <div class="detailUpRight">
                <p>獲得ポイント<span>{{rec["post_point"]}}</span></p>
            </div>
        </div>
        <div class="detail">
            <div class="detailRight">
                <p class="detailText">{{ rec["detail"] }}</p>
                <div class="detailRight-under">
                    <div class="d1"><a href="#"><img src="/static/images/material/heart.png" alt=""></a></div>
                    <div class="d2"><a href="#"><img src="/static/images/material/share.png" alt=""></a></div>
                    <div class="d3">
                        <form action="/donation/{{rec['post_id']}}/1" method="post">
                            <input type="image" value="寄付" src="/static/images/material/donation.png">
                        </form>
                    </div>
                </div>
            </div>
            <div class="detailLeft">
                <p class="titleComment">コメント</p>
                <p class="comment">{{ rec["comment"] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</main>

{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/menu.js"></script>
{% endblock %}