{% extends 'base.html' %}

{% block title %}post{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/postStyle.css">
{% endblock %}
{% block main %}

<main>
    <form action="/">
        <div class="post">
            <div class="photo_Area">
                <img src="" alt="">
            </div>
            <div class="tag_Area">
                {% for rec in tag_tbl %}
                <input type="submit" value='{{ rec }}' class="button tag">
                {% endfor %}
            </div>
            <div class="detail_Area">
                <p class="detail"></p>
            </div>
            <div class="post">

            </div>
        </div>
    </form>
</main>

{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/menu.js"></script>
{% endblock %}