{% extends 'base.html' %}

{% block title %}profileUp{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/postStyle.css">
{% endblock %}
{% block main %}
<main>
    <h1>プロフィール編集</h1>
    <form action="/profileUp" method="post" enctype="multipart/form-data" id="selectForm">
        <div class="post">
            <label class="img_label">
                <input type="file" name="file" class="file" onchange="previewImage(this);" >写真を選択する
            </label>
            <div class="photo_Area">
                <img id="iconPreview" src="/static/images/icon/{{icon}}" alt="">
                <img id="preview" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </div>
            <div class="name_Area">
                <p class="name_title">名前</p>
                <input class="name" type="text" name="name" maxlength="60" value="{{name}}">
            </div>
            <div class="detail_Area">
                <p class="detail_title">自己紹介</p>
                <textarea class="detail" name="detail" cols="10" rows="10" maxlength="200">{{detail}}</textarea>
            </div>
            <div class="post_Area">
                <input type="submit" value="変更" class="post_value">
            </div>
        </div>
    </form>
</main>
{% endblock %}
{% block js %}
{{ super() }}
<script src="/static/js/menu.js"></script>
<script src="/static/js/post.js"></script>
{% endblock %}